@font-face {
    font-family: 'font-ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('font-ultralight'), url('font-ultralight.woff') format('woff');
}


@font-face {
    font-family: 'font-thin';
    font-style: normal;
    font-weight: normal;
    src: local('font-thin'), url('font-thin.woff') format('woff');
}


@font-face {
    font-family: 'font-light';
    font-style: normal;
    font-weight: normal;
    src: local('font-light'), url('font-light.woff') format('woff');
}


@font-face {
    font-family: 'font-medium';
    font-style: normal;
    font-weight: normal;
    src: local('font-medium'), url('font-medium.woff') format('woff');
}


@font-face {
    font-family: 'font-semibold';
    font-style: normal;
    font-weight: normal;
    src: local('font-semibold'), url('font-semibold.woff') format('woff');
}


@font-face {
    font-family: 'font-bold';
    font-style: normal;
    font-weight: normal;
    src: local('font-bold'), url('font-bold.woff') format('woff');
}


@font-face {
    font-family: 'font-heavy';
    font-style: normal;
    font-weight: normal;
    src: local('font-heavy'), url('font-heavy.woff') format('woff');
}


@font-face {
    font-family: 'font-black';
    font-style: normal;
    font-weight: normal;
    src: local('font-black'), url('font-black.woff') format('woff');
}