:root {
    font-family: source-han-sans-simplified-c, sans-serif;
    font-style: normal;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.88);
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* 通用滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

/* 白天模式下的滚动条样式 */
@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); /* 半透明灰色 */
        border-radius: 4px;
        border: 2px solid transparent; /* 透明边框，使滚动条更细 */
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5); /* 鼠标悬停时稍微加深颜色 */
    }
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3); /* 半透明白色 */
        border-radius: 4px;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5); /* 鼠标悬停时稍微加深颜色 */
    }

    :root {
        color: #FFFFFF; /* 深色主题下的文本颜色 */
        background-color: hsl(240, 3.4%, 11.4%);
    }
}


