:root {
    font-family: source-han-sans-simplified-c, sans-serif;
    font-style: normal;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.88);
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, #app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
}


@media (prefers-color-scheme: light) {
    :root {
        /*  浅色主题适配 */
    }

}


